@{
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buscar</h2>
@using (Html.BeginForm())
{
<div class="form-horizontal">
    <h4>Dados do Visitante</h4>
    <div class="form-group">
        <label class="control-label col-md-2" for="CPF">CPF</label>
        <div class="col-md-3">
            <input class="form-control text-box single-line" id="CPF" name="CPF" type="text" value="">
            <span class="field-validation-valid text-danger"></span>
            <input type="hidden" id="IdVisitante" name="IdVisitante" />
        </div>
        <div class="col-md-1">
            @*<a href="javascript:BuscarVisitante()" class="btn btn-primary">Buscar</a>*@
            <input type="submit" class="btn btn-primary" value="Buscar" />
        </div>
    </div>
</div>
    
    if (TempData["Mensagem"] != null)
    {
        var mensagem = TempData["Mensagem"] as Site.Models.Mensagem;
        @Html.Partial("_Alerta", mensagem)
    }

    if (Request.HttpMethod == "POST")
    {

        if (ViewBag.Pessoa != null)
        {
            var pessoa = ViewData["Pessoa"] as Site.Models.Pessoa;

            @Html.Partial("_Visitante", pessoa)

            <div id="divBotoes" class="row">
                <div class="col-md-12 text-right">
                    @Html.ActionLink("Tirar Foto", "TirarFoto", null, new { @class="btn btn-primary" })
                </div>
            </div>
        }
        else
        {
            var Mensagem = new Site.Models.Mensagem { Titulo = "Atenção!", Texto = "Visitante não Encontrado.", Classe = "alert-warning" };
            @Html.Partial("_Alerta", Mensagem)
        }
    }   

}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">

            $(document).ready(function () {
                $('#CPF').mask('000.000.000-00');
                $('#CPF').focus();
            });

        </script>
    }
