@model Site.Models.Pessoa
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Visitante</h2>

@Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Dados do Visitante</h4>
</div>

@Html.Partial("_Visitante", Model)

<div id="divBotoes" class="row">
    <div class="col-md-12 text-right">
        @Html.ActionLink("Editar", "Editar", new { Id = @Model.Id }, new { @class = "btn btn-success" })
        <input type="submit" value="Imprimir Crachá" class="btn btn-primary" />
    </div>
</div>

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#CPF, .cpf').mask('000.000.000-00');
            $('.cnpj').mask('00.000.000/0000-00');
        });
    </script>
}
